.project-img {
  transition: transform 0.5s;
  border-radius: 12px 12px 0 0;
}
.project-img:hover {
  transform: translateY(-15px);
  /* transform: scale(1.05); */
  /* border-radius: 12px 12px 12px 12px; */
}

.deploy .repo {
  color: white !important;
}
