@tailwind base;
@tailwind components;
@tailwind utilities;

/* .sidebar{
  width
} */

.nav-link {
  gap: 1;
  transition: 0.5s;
}
.marker {
  width: 100%;
  transition: 0.5s ease !important;

  position: absolute;
  z-index: 2 !important;
  height: 4px;
  width: 100%;
  background: #3efcff;
  bottom: -10px;
  transition: e.5s;
  border-radius: 4px;
  box-shadow: 0px 5px 10px #3efcff;
}
